---
- name: Install K3s master
  shell: |
    curl -sfL https://get.k3s.io | sh -s - --disable=traefik --disable=servicelb --flannel-backend=host-gw --node-ip={{ ansible_host }}
  args:
    executable: /bin/bash

- name: Get K3s token
  slurp:
    src: /var/lib/rancher/k3s/server/node-token
  register: k3s_token

- name: Store K3s token
  set_fact:
    k3s_node_token: "{{ k3s_token.content | b64decode | trim }}"

- name: Create kube config directory
  file:
    path: /root/.kube
    state: directory
    mode: '0700'

- name: Copy kube config
  copy:
    src: /etc/rancher/k3s/k3s.yaml
    dest: /root/.kube/config
    remote_src: yes
    mode: '0600'

- name: Replace localhost with master IP in kubeconfig
  replace:
    path: /root/.kube/config
    regexp: 'https://127.0.0.1:6443'
    replace: 'https://{{ ansible_host }}:6443'
